body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  height: 100vh;
  overflow-x: hidden;

}

.menu {
  background: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
  height: 100%;
  display: flex;
  border-right: 1px solid #ddd;
  flex-direction: column;
}

.menu-version {
  margin-top: auto; 
  text-align: center;
  font-size: 0.8rem;
  color: #6c757d;  
  padding-top: 10px;
}

.content {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  min-height: 420px;
}

.row {
  min-height: calc(100vh);
}

.game-container {
  /* max-width: 1280px; */
  margin: 0 auto;
  flex: 1;
  padding-right: 90px;
}

.container-fluid {
  height: 100%;
}

canvas {
  width: 100%;
  height: auto;
  border: 3px solid #000;
  display: block;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.hidden {
  display: none;
}

.game-layout {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  width: 80vw;
  max-width: 80vw;
}

/* Menu lateral direita */
.menu-right {
  position: fixed;
  right: 0;
  width: 90px;
  border-radius: 0;
  z-index: 10;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-right button {
  width: 56px;
  height: 56px;
  font-size: 22px;
}

@media (max-width: 768px) {
  .game-layout {
    flex-direction: column;
    width: 100%;
  }

  .menu-right {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding-top: 12px;
  }

  .game-container {
    padding-right: 0;
  }
}
